h1 {
  font-size: 30px;
  text-align: center;
  font-family: cursive, Courier;
  font-weight: bolder;
  border: 2px dashed black;
  padding: 2%;
  color: slategrey;
}
p {
  font-size: 16px;
  text-align: justify;
  font-weight: bold;
  color: lightseagreen;
}
a:hover {
  text-decoration: none;
  color:red;
  }
body {
  background-image:url("http://static6.depositphotos.com/1000889/626/v/950/depositphotos_6268011-Professional-business-team.jpg");
  background-size: 100%;
}
a {
  color: red;
}
a:visited {
  color: purple;
  }