body {
  background-color: black;
  font-family: verdana;
}

.header {
  background-image: url("https://cask.scotch.io/2013/11/git-cheat-sheet.jpg");
  background-size: 15%;
}

h1 {
  text-align: center;
  color: darkgreen;
  font-style: bold;
  font-size: 80px;
  text-decoration: underline;
}

.left {
  float: left;
  position: fixed;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
  background-color: black;
}

.right {
  height: 800px;
  width: 500px;
  float: right;

}

body p {
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: auto;
  width: 55em;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

ol {
  color: red;
}


.link {
  background-color: lightgray;
  border-style: solid;
  border-color: forestgreen;
  border-width: 5px;
  width: 12%;
}

hr {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.videos {
  border-style: solid;
  border-color: forestgreen;
  border-width: 5px;
}