body {
  background-color: black;
  font-family: courier;
}

h1 {
  text-align: center;
  color: forestgreen;
  font-style: bold;
  font-size: 80px;
  text-decoration: underline;
}

.left {
  float: left;
  position: fixed;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
  background-color: black;
}

.right {
  height: 800px;
  width: 500px;
  float: right;

}

body p {
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: auto;
  width: 55em;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

ol {
  color: red;
}

video {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: lightgray;
  border-style: solid;
  border-color: forestgreen;
  border-width: 5px;
  width: 12%;
}