h1 {
  font-size: 50px;
  color:red;
  text-decoration: underline;
  text-align: center;
  border: 4px solid blue;
  background-color: black;
  font-family: Times, serif;
  font-style: italic;
  padding: 5%;
}
p {
  font-weight: bold;
  font-size: 30px;
  color:blue;
}
body {
  background-color:black;
}
span {
  color: red;
  font-size:30px;
  text-decoration: underline;
}