body {
  background-image: url("http://www.chillhour.com/img/misc/top_10_most_expensive_things_in_the_world/most_expensive_things_5.jpg");
}
p {
  color: white;
  font-family: Verdana;
  font-size: 14px;
  text-align: center;
}
h1 {
  font-size: 40px;
  font-family: cursive, serif;
  color: black;
  border: 2px solid red;
  text-align: center;
}
img {
  float: right;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  widht: 100px;
}
/*p {

}*/
.links {
  float:left;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: white;
}