body {
  background-color: red;
}
p {
  color: black;
  font-family: Verdana;
  font-size: 14px;
}
h1 {
  font-size: 40px;
  font-family: cursive, serif;
  color: black;
  border: 2px solid black;
  text-align: center;
}
img {
  float: right;
  margin-top: 0%;
}