h1 {
  text-align: center;
  color:white;
}
h2 {
  text-align: center;
  color:blue;
}
h4 {
  text-align: center;
  color:red;
}
main {
  background-color: black;
}
section {
  color: white
  border: 2px solid red;
}