h1 {
  text-align: center;
  color:red;
}
h2 {
  text-align: center;
  color:red;
}
h4 {
  text-align: center;
  color:blue;
}
body {
  background-color:black;
}
p {
  color:white;
}
a {
  margin-right: 10%;
  color:white;
}