h1 {
  text-align: center;
  background-color: black
  color:white;
}
h2 {
  text-align: center;
  background-color:black;
  color:blue;
}
h4 {
  text-align: center;
  color:red
  background-color: black;
}
